<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

  Letters you had:
  <br>
  <%= @letters %>
  <br>
  <br>
  The word selected:
  <br>
  <%= @word %>
  <br>
  <br>
  Result: <p> <%= @result %> </p>

<%= link_to "Play again", "new" %>
